In [5]:
// this is a summary of all i learnt in chapter 1

In [9]:
/* most codes were tested on the javascript console (CTRL + SHIFT + J) and i couldn't really save them till i found out how to
use js on jupyter notebook*/

In [10]:
// variables

In [11]:
var name = "Bolarinwa Oreoluwa";

In [12]:
console.log(name)

Bolarinwa Oreoluwa

In [13]:
console.log ('this won\'t be a nice idea') // /t

this won't be a nice idea

In [14]:
name.length

18

In [15]:
name["length"]

18

In [16]:
name.toUpperCase()

'BOLARINWA OREOLUWA'

In [17]:
name.toLowerCase()

'bolarinwa oreoluwa'

In [18]:
name.charAt(3)

'a'

In [19]:
name.indexOf("o")

1

In [20]:
name.indexOf("k") // here we get -1 cause the word 'k' is not present in my name

-1

In [21]:
name.lastIndexOf('o')

13

In [22]:
name.concat(" Seun")

'Bolarinwa Oreoluwa Seun'

In [23]:
name + " Seun"

'Bolarinwa Oreoluwa Seun'

In [24]:
// Numbers

In [25]:
count = 0;

0

In [27]:
count++  // increment by 1

1

In [28]:
count +=10

12

In [29]:
count--

12

In [30]:
count

11

In [31]:
count++

11

In [32]:
count

12

In [33]:
++count

13

In [34]:
--count

12

In [35]:
typeof NaN;

'number'

In [36]:
typeof null;

'object'

In [37]:
typeof undefined;

'undefined'

In [38]:
Boolean ("hello");

true

In [39]:
Boolean(0);

false

In [41]:
Boolean(null);

false

In [42]:
// there are 7 falsy values in js and they include 0, null, undefined, NaN etc

In [43]:
 year = 3000;

3000

In [46]:
year === 3000; // hard inequality

true

In [47]:
year == "3000" // soft inequality

true